{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <section class="article-content">
      <h1 class="article-h1">{{post.title}}</h1>
      <div class="article-body">
        {{post.content}}
        {% for page in pages %}
          <h1>{{ page.title }}</h1>
          {% if page.slug == 'o-nas' or page.slug == 'uslugi' %}
            {% include "partial/section-generic.twig" %}
          {% elseif page.slug == 'cennik' %}
            {% include "partial/section-price-list.twig" %}
          {% elseif page.slug == 'kontakt' %}
            {% include "partial/section-contact.twig" %}
          {% endif %}
        {% endfor %}
      </div>
    </section>
  </article>
</div>
<!-- /content-wrapper -->
{% endblock %}
